{% extends 'polls/base.html' %}
{% block content %}
    <form action="{% url 'polls:security_question' %}" method="post">
      {% csrf_token %}
      <fieldset>
        <legend><h3>To change your password we need your username</h3></legend>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <label for="username_id">Username:</label><br>
        <input type="text" maxlength="200" name="username" id="username_id">
      </fieldset>
      <input type="submit" value="Submit">
    </form>
{% endblock %}